<section>
  <div class="row">
    <div class="col-md-6 col-sm-12 contact-info text-center">
      <p>
        kpowell1@rediff.com
      </p>
      <p>
        15 Grim Parkway
      </p>
      <p>
        7-(533)316-6900
      </p>
    </div>
    <div class="col-md-6 col-sm-12 contact-form">
      <%= react_component('ContactForm') %>
    </div>
  </div>
</section>
