<section>
  <div class="row">
    <div class="col-md-4 col-sm-12 contact-info text-center">
      <h1 class="contact-info-header">CONTACT INFO</h1>
      <p>
        kpowell1@rediff.com
      </p>
      <p>
        15 Grim Parkway
      </p>
      <p>
        7-(533)316-6900
      </p>
    </div>
    <div class="col-md-8 col-sm-12 contact-form">
      <h1 class="contact-form-header">CONTACT FORM</h1>
      <%= react_component('ContactForm') %>
    </div>
  </div>
</section>
