#home-msg-slider {
  min-height: 80vh;
  background: rgba($raisin-black, 0.2);
  .home-msg {
    margin: 250px;
    color: $light_cyan;
    font-family: $lemon;
    font-size: 5em;
  }
}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

#about-box{
  padding: 30px 120px;
  font-size: 3em;
  color: white;
  font-family: $indie_flower;
}
